<% include ./partials/header %>

<%/* it should show blog include title, pic, body , creat */%>

<%blogs.forEach(function(blog){ %>
    <h2><%=blog.title%></h2>
    <img src="<%=blog.image%>">
    <span><%=blog.created%></span>
    <p><%=blog.body.substring(0,100) %>...</p>
    <a href="/blog/<%= blog._id %>">Read me</a>
<% }) %>
<% include ./partials/footer %>