<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title%></div>
    <div class="item">
        <img class="ui centered rounded image" src="<%=blog.image%>">
        <span><%= blog.created.toDateString() %></span>
    </div>
    <div class="drscription">
        <p><%= blog.body%></p>
    </div>
    <div>
        <a class="ui red basic button" href="/blog/<%= blog._id %>/edit">edit</a>
        <form id="choice" action="/blog/<%= blog._id %>?_method=DELETE" method="POST">
            <button class="ui negative basic button">Delete</button>
        </form>
    </div>
</div>
<% include ./partials/footer %>

